.education {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.education__block {
    width: 100%;
}

.education__title,
.education__certificates-title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
}

.education__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.education__wrapper-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 10px;
}

.education__link {
    color: #022702;
    text-decoration: none;
    position: relative;
}

.education__link-icon {
    margin-left: 5px;
    position: absolute;
    top: 9px;
}

.education__text {
    margin: 0;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.education__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(2, 39, 2, 0.8)
}

.education__certificates {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education__certificates-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.education__certificates-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #022702;
    text-decoration: none;
    position: relative;
}

.education__certificates-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #022702;
}

@media (min-width: 768px) {
    .education {
        width: 580px;
    }

    .education__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 130px;
    }

    .education__title {
        font-size: 40px;
        line-height: 51px;
    }

    .education__wrapper-title {
        font-size: 30px;
        line-height: 38px;
    }

    .education__link-icon {
        top: 17px;
    }

    .education__certificates-title {
        font-size: 40px;
        line-height: 51px;
    }

    .education__certificates {
        width: 580px;
    }

    .education__certificates-link {
        font-size: 30px;
        line-height: 38px;
    }
}

@media (min-width: 1024px) {
    .education {
        width: 880px;
        align-items: flex-start;
    }

    .education__wrapper {
        align-items: flex-start;
        width: 380px;
    }

    .education__certificates {
        width: 100%;
        align-items: flex-start;
    }

    .education__certificates-link {
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    .education {
        width: 1352px;
        align-items: flex-start;
    }

    .education__container {
        flex-direction: column;
        width: 553px;
    }

    .education__certificates {
        width: 553px;
    }

    .education__block {
        display: flex;
        justify-content: space-between;
    }

    .education__certificates-title {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .education__wrapper {
        margin-bottom: 100px;
    }

    .education__wrapper:last-child {
        margin-bottom: 0;
    }
}