.first-screen {
    position: relative;
    height: 100vh;
    min-height: 745px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.first-screen__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.first-screen__wrapper {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-screen__title {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
}

.first-screen__text {
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 26px;
    white-space: pre-line;
}


.first-screen__link {
    text-decoration: none;
    line-height: 32px;
    cursor: pointer;
    position: absolute;
    bottom: -200px;
    right: 0;
    color: #f8f8f8;
    transition: color 0.1s ease-in-out;
}

.first-screen__link:hover {
    opacity: 0.7;
}

.first-screen__link:active,
.first-screen__link:focus {
    opacity: 0.5;
}



@media (min-width: 768px) {
    .first-screen {
        align-items: center;
    }

    .first-screen__wrapper {
        width: 580px;
        align-items: flex-start;
        position: relative;
    }

    .first-screen__title {
        font-size: 46px;
        line-height: 59px;

    }

    .first-screen__text {
        text-align: left;
        font-size: 18px;
    }

    .first-screen__link {
        font-size: 40px;
        line-height: 51px;
        margin-left: auto;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .first-screen__wrapper {
        width: 880px;
    }

    .first-screen__title {
        font-size: 73px;
        line-height: 93px;
    }

    .first-screen__text {
        width: 680px;
        letter-spacing: 0.01em;
    }

    .first-screen__link {
        font-size: 50px;
        line-height: 64px;
        bottom: -170px;
    }
}

@media (min-width: 1440px) {
    .first-screen {
        min-height: 820px;
    }

    .first-screen__wrapper {
        width: 894px;
    }

    .first-screen__title {
        font-size: 96px;
        line-height: 123px;
    }

    .first-screen__text {
        width: 894px;
    }

    .first-screen__link {
        font-size: 70px;
        line-height: 90px;
        bottom: -220px;
    }

    .first-screen__link-icon {
        width: 428px;
        height: 316px;
    }
}
