.header {
    width: 100%;
    margin-bottom: 130px;
    position: relative;
    z-index: 1;
}

.header__navbar {
    position: relative;
    width: 280px;
    min-height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;
}

.header__overlay {
    position: fixed;
    background-color: #2F6B75;
    z-index: -2;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: all 2s cubic-bezier(0.16, 1, 0.2, 1);
}

.header__ham-box {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 14px;
    transition: 0.3s ease;
    padding: 0;
    border: none;
    background: transparent;
}

.header__line-top,
.header__line-bottom {
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background: linear-gradient(to right, #2E6B75, #2E6B75 50%, #022702 50%);
    background-size: 200% 100%;
    background-position: 100%;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
}

.header__ham-box:hover .header__line-top,
.header__ham-box:hover .header__line-bottom {
    background-position: 0 100%;
}

.header__ham-box:active {
    opacity: 0.7;
}

.header__line-top {
    top: 0;
}

.header__line-bottom {
    bottom: 0;
}

.header__line-top.spin {
    top: 5px;
    transform: rotate(135deg);
    background: linear-gradient(to right, #93C3BF, #93C3BF 50%, #022702 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.header__line-bottom.spin {
    top: 5px;
    transform: rotate(225deg);
    background: linear-gradient(to right, #93C3BF, #93C3BF 50%, #022702 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.header__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__list-item {
    list-style: none;
    position: relative;
    margin-bottom: 30px;
}

.header__list-item:last-child {
    margin-bottom: 0;
}

.header__list-link {
    text-decoration: none;
    color: #022702;
    font-size: 30px;
    position: relative;
    top: 0;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.header__list-link--active {
    color: #93C3BF;
    position: relative;
}


.header__item-wrapper::after {
    content: "";
    position: absolute;
    top: 120px;
    left: -10%;
    width: 120%;
    height: 100%;
    background-color: #2F6B75;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .header__navbar {
        width: 580px;
    }

    .header__list-link {
        font-size: 46px;
    }

    .header {
        margin-bottom: 150px;
    }
}


@media (min-width: 1024px) {
    .header__navbar {
        width: 880px;
    }

    .header__list-link {
        font-size: 50px;
    }
}

@media (min-width: 1440px) {
    .header__navbar {
        width: 1352px;
    }
}