@font-face {
    font-family: "Menlo";
    src: url("../public/fonts/Menlo-Regular.woff2") format("woff2"),
        url("../public/fonts/Menlo-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
