body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', 'Tahoma', serif;
  background-color: #92C3BF;
  min-width: 320px;
  position: relative;
}

body::after {
  content: "";
  height: 100%;
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #b5eeff;
  z-index: -1;
}