body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', 'Tahoma', serif;
  background-color: #121212;
  min-width: 320px;
  position: relative;
  color: #f8f8f8;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.code {
  margin-bottom: 100px;
  position: relative;
  width: 253px;
  border-right: 2px solid #2E6B75;
  white-space: nowrap;
  overflow: hidden;
}

.code--animate {
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 253px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #2E6B75;
  }

  to {
    border-right-color: transparent;
  }
}

@media (min-width: 768px) {
  .code {
    font-size: 16px;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 309px;
    }
  }
}

@media (min-width: 1024px) {
  .code {
    margin-bottom: 130px;
  }
}
