body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', 'Tahoma', serif;
  background-color: #92C3BF;
  min-width: 320px;
  position: relative;
  color: #022702;
}

body::after {
  content: "";
  height: 100%;
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #b5eeff;
  z-index: -1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (min-width: 1024px) {
  body::after {
    width: 45%;
  }
}